
.vs/updateBattery/v15/Server/sqlite3/storage.ide-wal
.vs/updateBattery/v15/Server/sqlite3/storage.ide-shm
.vs/updateBattery/v15/Server/sqlite3/storage.ide
.vs/updateBattery/v15/Server/sqlite3/db.lock
.vs/updateBattery/v15/.suo
updateBattery/obj/Debug/updateBattery.csproj.FileListAbsolute.txt
updateBattery/obj/Debug/updateBattery.csproj.FileListAbsolute.txt
*.txt
updateBattery/bin/Debug/updateBattery.exe
updateBattery/bin/Debug/updateBattery.pdb
updateBattery/obj/Debug/updateBattery.csproj.FileListAbsolute.txt
updateBattery/obj/Debug/updateBattery.csprojAssemblyReference.cache
updateBattery/obj/Debug/updateBattery.exe
updateBattery/obj/Debug/updateBattery.pdb
updateBattery/obj/Debug/updateBattery.csproj.FileListAbsolute.txt
*.txt
